/* General Styles */
body {
    font-family: 'Montserrat' !important;
    background-color: ghostwhite;
}

a :hover {
    color: #adb5bd !important;
}

/* Header Styles */
header {
    background-color: #adb5bd !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.mx-auto {
    font-size: 20px;
}

.container {
    width: 85%;
}

.profile-section,
.order-history-section {
    border: 2px solid #ddd !important;
    margin-bottom: 20px;
    padding: 20px;
}

.top10 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.table-bordered>:not(caption)>*>* {
    border-width: 2px var(--bs-border-width) !important;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    flex-direction: inherit;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

.nav-item a {
    margin-right: 15px;
}

/* Banner Grid Styles */
.container img {
    max-width: 100%;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.container img:hover {
    transform: scale(1.03);
}


/* Carousel Styles */
.carousel-item img {
    max-height: 250px;
    object-fit: cover;
    max-width: 250px;
}

.carousel-inner {
    overflow: hidden;
    /* To hide the images outside the view */
}

.carousel-inner .carousel-item>.row>div>img {
    transition: transform 0.6s ease;
}

.carousel-inner .carousel-item>.row>div>img:hover {
    transform: scale(1.05);
}

/* Adjusting the position of the carousel controls */
.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev {
    left: -10%;
}

.carousel-control-next {
    right: -10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Footer Styles */
footer {
    background-color: #24282c !important;
    color: #fff;
}

.p-3 {
    font-size: 12px !important;
}

footer a {
    color: #fff;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer a:hover {
    color: #adb5bd;
}

footer i {
    font-size: 20px;
    margin-right: 15px;
}


.nav-item a:hover,
.navbar-brand:hover {
    text-decoration: underline;
}

#searchBox .input-group {
    border-radius: 0.375rem;
    overflow: hidden;
}


#searchBox .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    border: none;
}

#searchBox .form-control:focus {
    border-color: #000000;
    box-shadow: none;
}


.navbar .input-group {
    padding: 0.25rem 1.80rem;
}



/* Register Page */

.registration-form {
    border: 2px solid #dee2e6 !important;
    border-radius: 5px !important;
    padding: 20px !important;
    max-width: 600px !important;
    margin: 50px auto !important;
    background-color: #adb5bd !important;
}

.form-group {
    margin-bottom: 15px !important;
}

.registration-form label {
    margin-bottom: 5px !important;
}

.registration-form input[type="checkbox"] {
    margin-top: 3px !important;
}

.registration-form button {
    width: unset !important;
}

.btn-primary {
    background-color: black !important;
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #010101 !important;
    --bs-btn-border-color: #000000 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #000000 !important;
}


/* User Profile */

.profile-section,
.order-history-section {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}

.profile-details p,
.order-history li {
    padding: 10px 0;
}

.order-history ul {
    list-style-type: none;
    padding: 0;
}

.order-history li a {
    display: block;
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #333;
}

.order-history li a:hover {
    background-color: #f9f9f9;
    border-color: #ddd;
}

.profile-actions {
    text-align: center;
    padding-top: 20px;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    color: white;
    background-color: #000000;
}

.btn-primary {
    background-color: #000000 !important;
}

.btn-danger {
    background-color: #dc3545;
}

.btn:hover {
    opacity: 0.8;
}

/* Responsive styles */
@media (max-width: 992px) {
    .navbar h1 {
        display: none;
    }
}